.profile-upload-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* center horizontally */
    justify-content: center;
}

.edit-icon {
    margin-top: 10px; /* space below image */
    cursor: pointer;
    font-size: 18px;
}